body {
    padding-top: 56px;
}
.jumbotron {
    background: url("welcome.png")center;
/*    background: url("body2.jpg");
*/}
.btn-primary{
  background: #5cb85c;
  border: 2px solid #5cb85c;
  background: transparent;
  color: #5cb85c;
}
.btn-primary:hover{
  background: #5cb85c;
  border: 2px solid;
  color: white;
}
.btn-secondary {
    background: #5cb85c;
    background-color: transparent;
    border-color: #5cb85c;
    color: #5cb85c;
}
.btn-secondary:hover{
  background: #5cb85c;
  border: 2px solid;
  color: white;
}
#title{
  color: #5cb85c;
}
#slogan{
  color: white;
}
#marquee{
  color: orange;
}
#logo{
  border-radius: 50%;
}
#carouse{
  width:80px;
  height:80px;
}