# Run PHP without filename extension
# Options +FollowSymLinks -MultiViews

RewriteEngine on
#RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f

#RewriteRule ^(.*)$ $1.php
RewriteRule ^(.*?)/?$ $1.php

# Return 404 if original request is *.php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

#hide directory
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+public/views/([^\s]+) [NC]
#RewriteRule ^ %1 [R=301,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule (?!^dirname/)^(.*)$ /public/views/$1 [L,NC]
